# Dépendances
node_modules/

# Build
dist/
dist-ssr/

# Tests
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Éditeurs / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables d'environnement
.env
.env.*
!.env.example
